  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}

  .image-other{
    width:100px;
    height: 100px;
  }

  .bg-1 { 
    background-color: #837a7a; 
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #544a64; 
    color: #ffffff;
  }

  .container-fluid {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .img-person{
    width: 250px;
    height: 250px;
    filter: grayscale(80%);
    border-radius: 20%;
    transition:1.5s;
    cursor: pointer;
  }
  .container-fluid img:hover{
    filter:none;
  }
  .jumbotron
{
    margin : 0px;
    background-image : url("../images/backgrod1.jpg");
    height : 280px;
    color : white;
}
  .nav-item
  {
    margin-left: 10px;
  }