.nav-item{margin-left: 10px;}
.nav link{color : #ffffff;}
.dropdown-menu{right: 30px;}
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
.jumbotron
{
    margin : 0px;
    background-image : url("../images/backgrod1.jpg");
    height : 280px;
    color : white;
}
*{
    margin: 0;
    padding: 0;
}
.bg-1{
    background-color: #796f6f;
    color: #f3f3f3;
    height: 600px;
}
.col-8{
    padding-right: 100px;
}
.bg-2{
    padding-bottom: 80px;
}
.color-1{color:white;}