.jumbotron {
  margin: 0px;
  background-image: url("../images/backgrod1.jpg");
  height: 280px;
  color: white;
}

.col-sm-12 img {
  height: 12%;
}

.col-lg-10 img {
  height: 13%;
  width: 100%;
}

.container {
  height: auto;
}

.container .col-sm-12 {
  height: 50%;
}

.nav-item {
  margin-left: 10px;
}

nav link {
  color: #ffffff;
}

.dropdown-menu {
  right: 30px;
}

.dropdown-menu a:hover {
  background-color: #aaa;
  box-shadow: 5px 0px 40px rgba(0, 0, 0, .2);
}

button {
  border: 0px;
  background: rgb(91, 168, 91);
  color: white
}